* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header,
aside,
main,
footer {
  padding: 24px;
}

header,
footer {
  background-color: #b5c2f8;
}

section,
article,
div,
table {
  padding: 16px;
}

h1 {
  color: #152ea0;
  font-family: 'Anton', Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  margin: 24px auto;
  text-align: center;
  text-transform: uppercase;
}


h2,
h3 {
  color: #1634bd;
  margin: 24px auto 16px;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 1.1rem;
}

p {
  color: #222;
  line-height: 24px;
  margin: 8px auto;
}

ul {
  list-style: none;
}

header {
  border-bottom: 4px solid #1634bd;
}

header img {
  border: 2px solid #1634bd;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
  height: 96px;
  width: 96px;
}

header div {
  display: inline-block;
  font-weight: bolder;
  vertical-align: middle;
}

table {
  background-color: #b5c2f8;
  border-collapse: separate;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border: 1px solid #1634bd
}

table caption {
  margin: auto auto 16px;
}

th,
td {
  background-color: #fff;
  padding: 16px;
}

footer {
  border-top: 4px solid #1634bd;
}

footer b {
  display: block;
  margin: auto;
  width: fit-content;
}